<template>
  <v-card class="ma-2">
    <v-img
      :src="require('~/assets/products/' + product.productImage)"
      class="white--text"
      height="200px">
      <v-container
        fill-height
        fluid>
        <v-layout fill-height>
          <v-flex
            xs12
            align-end
            flexbox>
            <!--show 'Sale' sign when isSale is true-->
            <span
              v-if="product.isSale === true"
              class="headline red">Sale</span>
          </v-flex>
        </v-layout>
      </v-container>
    </v-img>
    <v-card-title>
      <div>
        <span>{{ product.productName }} {{ product.price }}</span><br>
      </div>
    </v-card-title>
  </v-card>
</template>

<script>
  export default {
    name: 'ProductPreview',
    props: {
      product: {
        type: Object,
        required: true
      }
    },
  }
</script>

