<template>
  <v-app id="inspire">
    <v-toolbar
      app
      fixed
      dark
      color="primary"
      clipped-left>
      <v-toolbar-title>Accenture Store</v-toolbar-title>
      <v-spacer/>
    </v-toolbar>
    <v-content>
      <v-container
        fluid>
        <nuxt/>
      </v-container>
    </v-content>
    <v-footer
      app
      fixed>
      <span>Author: Cheng Li (Lily)</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {


  }
</script>

<style scoped>
</style>
