<template>
  <div>
    <v-toolbar class="elevation-0">
      <v-toolbar-title>Welcome to our store</v-toolbar-title>
      <v-spacer/>
      <h4 class="font-italic mr-2">Filter by</h4>
      <!--selected type will be store in type-->
      <v-select
        v-model="type"
        :items="product_type"/>
    </v-toolbar>

    <section>
      <v-layout
        row
        wrap
        justify-center>
        <div
          v-for="product in loadedProducts"
          :key="product.index">
          <!--compare the product.type with chosen type-->
          <!--if type is 'All', condition is always true-->
          <div v-if="product.type === type || type === 'All'">
            <ProductPreview
              :product="product"/>
          </div>
        </div>
      </v-layout>
    </section>
  </div>
</template>

<script>
  import axios from 'axios';
  import ProductPreview from '@/components/Products/ProductPreview';

  export default {
    components: {
      ProductPreview,
    },
    data: () => ({
      type: 'All',
      product_type: ['All', 'Beer', 'Wine', 'Spirits', 'Cider'],
    }),
    asyncData(context) {
      //get data from JSON file
      return axios.get(process.env.baseUrl + '/products.json')
        .then(res => {
          // console.log(res.data);
          return {
            //store res.data in to the variable
            loadedProducts: res.data,
          }
        })
        .catch(e => context.error(e))
    },
  }
</script>
